apiVersion: apps/v1
kind: Deployment
metadata:
  name: hello-app
  labels:
    app: hello-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: hello-app
  template:
    metadata:
      labels:
        app: hello-app
    spec:
      containers:
        - name: hello-app
          image: italolino/hello-app:2cae8dfdc0a25cc6258d49426a1c87a07ba183eb
          ports:
            - containerPort: 80
